@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
	margin: 2px;
	padding: 2px;
	box-sizing: border-box;
}

.card-header{
	font-family: 'Poppins', sans-serif;
	font-size: 22px;
}
.card{
	margin-left: 10px;
	margin-right: 10px;
}
.control-label{
	font-family: 'Poppins', sans-serif;
}
.alert{
	margin-left: 10px;
	margin-right: 10px;
}
.border-top {
	border-top: 1px solid #e5e5e5; 
}
.border-bottom { 
	border-bottom: 1px solid #e5e5e5; 
}
.box-shadow { 
	box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); 
}
.aw-link-panel{
	float:right;
	padding: 0px;
}
.aw-titulo-panel{
	float: left;
	padding-top: 2px;
}