<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{LayoutPadrao}">
<head>
<meta charset="UTF-8" />
<title>Cadastro de Enderecos</title>
</head>

<section layout:fragment="endereco">

	<div class="card mb-4 box-shadow">
		<div class="card-header">
			<h4 class="my-0 font-weight-normal aw-titulo-panel">Endereço</h4>
			<a class="btn btn-link btn-xs aw-link-panel" th:href="@{/cliente/pesquisar}">Voltar</a>
		</div>
		<div class="card-body">
			<form method="POST" action="/endereco" th:object="${adress}">
			
				<div th:replace="MensagemGeral"></div>
				<div th:replace="MensagemErro"></div>
				
				<div class="form-group" th:classappend="${#fields.hasErrors('street')} ? has-error">
					<div class="form-group">
						<label class="col-sm-2 control-label">Cliente</label>
						<div class="col-sm-2"> 
							<input type="text" class="form-control"	id="street" th:field="*{idClient}" readonly>
						</div>
					</div>
				</div>

				
				<div class="form-group" th:classappend="${#fields.hasErrors('street')} ? has-error">
					<label>Rua</label> 
					<input type="text" class="form-control"	id="street" th:field="*{street}">
				</div>
				<div class="form-group" th:classappend="${#fields.hasErrors('number')} ? has-error">
					<label>Número</label> 
					<input type="text" class="form-control"	id="number" th:field="*{number}">
				</div>
				
				<div class="form-group" th:classappend="${#fields.hasErrors('district')} ? has-error">
					<label>Bairro</label> 
					<input type="text" class="form-control"	id="district" th:field="*{district}">
				</div>
				
				<div class="form-group" th:classappend="${#fields.hasErrors('city')} ? has-error">
					<label>Cidade</label> 
					<input type="text" class="form-control"	id="city" th:field="*{city}">
				</div>
				<button type="submit" class="btn btn-primary mb-2">Salvar</button>
				<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmacaoExclusaoModal" 
					th:attr="data-id=${adress.id}, data-name=${adress.street}"
					title="Excluir" rel="tooltip" data-placement="top">
					<button class="btn btn-primary mb-2">Excluir</button>
				</a>
				
			</form>

		</div>
		</div>
		<div th:replace="DialogoConfirmacaoExclusaoEndereco"></div>
	</section>
	</html>
