<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta charset="UTF-8" />
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
<link rel="stylesheet" type="text/css" href="/css/style.css" />
<title>Cadastro de Endereço</title>
</head>
<body>
	<nav class="navbar navbar-dark bg-dark">
	  <a class="navbar-brand" href="#">
	    Cadastro de Clientes
	  </a>
	</nav>
	<br>
	<form method="POST" action="">
	  <div class="form-group">
	  	<label >Rua</label>
	    <input type="text" class="form-control" id="street" name="street">
	  </div>
	  
	  <div class="form-group">
	 	 <label >Número</label>
	    <input type="text" class="form-control" id="number" name="number">
	  </div>
	  
	  <div class="form-group">
	    <label >Bairro</label>
	    <input type="text" class="form-control" id="district" name="district">
		</select>
	  </div>
  	  <div class="form-group">
	    <label >Cidade</label>
	    <input type="text" class="form-control" id="city" name="city">
		</select>
	  </div>
	  
	   <button type="submit" class="btn btn-primary mb-2">Salvar</button>

	</form>

<script src="static/js/bootstrap.min.js"></script>
</body>

</html> 