<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{LayoutPadrao}">
<head>
<meta charset="UTF-8" />
<title>Cadastro de Enderecos</title>
</head>

<section layout:fragment="endereco">

	<div class="card mb-4 box-shadow">
		<div class="card-header">
			<h4 class="my-0 font-weight-normal">Endereço</h4>
		</div>
		<div class="card-body">
			<form method="POST" action="#">

				<div class="alert alert-success">
					<span></span>
				</div>
				<div class="form-group">
					<label>Rua</label> <input type="text" class="form-control"
						id="street" name="street">
				</div>
				<div class="form-group">
					<label>Número</label> <input type="text" class="form-control"
						id="number" name="number">
				</div>
				<div class="form-group">
					<label>Bairro</label> <input type="text" class="form-control"
						id="district" name="district">
				</div>
				<div class="form-group">
					<label>Cidade</label> <input type="text" class="form-control"
						id="city" name="city">
				</div>
				<button type="submit" class="btn btn-primary mb-2">Salvar</button>
				<a class="btn btn-link " href="/cliente/novo">Cliente</a> 
				<a class="btn btn-link " href="/cliente/pesquisar">Pesquisar</a>
			</form>

		</div>
	</div></html>
