<!DOCTYPE html >
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{LayoutPadrao}">
<head>
<title>Pesquisa Clientes</title>
</head>

<section layout:fragment="pesquisaCliente">

	<div class="card box-shadow">
		<div class="card-header">
			<h4 class="my-0 font-weight-normal">Pesquisa de Clientes</h4>
		</div>
		<div class="card-body">
			<form method="GET" class="form-horizontal" action="#">
				<div class="form-group">
					<div class="input-group mb-2">
						<div class="input-group mb-2">
							<input type="text" class="form-control"
								placeholder="Qual cliente você está procurando?"
								aria-label="Recipient's username"
								aria-describedby="basic-addon2">
							<button class="btn btn-outline-secondary" type="button">Pesquisar</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
	<br>
	<div class="card box-shadow">
		<div class="card-header">
			<h4 class="my-0 font-weight-normal aw-titulo-panel">Lista de Clientes</h4>
			<a class="btn btn-link aw-link-panel" href="/cliente/novo">Novo Cliente</a>
		</div>
		<div class="card-body">
			<table class="table table-sm table-bordered table-striped table-condensed">
				<thead>
					<tr>
						<th class="text-center col-md-1">Código</th>
						<th>Nome</th>
						<th class="text-center col-md-2">Telefone</th>
						<th class="text-center col-md-3">Observação</th>
						<th class="text-center col-md-1">Editar/Excluir</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="client:${clients}">
						<td class="text-center" th:text="${client.id}"></td>
						<td class="text-center" th:text="${client.name}"></td>
						<td class="text-center" th:text="${client.phone}"></td>
						<td class="text-center" th:text="${client.observation}"></td>
						<td class="text-center">
							<a class="btn btn-link btn-xs" th:href="@{/cliente/{id}(id=${client.id})}"
								title="Editar" rel="tooltip" data-placement="top">
								<span>✍</span>
							</a>
							<a class="btn btn-link btn-xs" data-toggle="modal" data-target="#confirmacaoExclusaoModal" 
							th:attr="data-id=${client.id}, data-name=${client.name}"
								title="Excluir" rel="tooltip" data-placement="top">
								<span>💣</span>
							</a>
						</td>
					</tr>
					<tr>
						<td colspan="6" th:if="${#lists.isEmpty(clients)}">Nenhum cliente foi encontrado</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	
	<div th:replace="DialogoConfirmacaoExclusaoCliente"></div>
</section>
</html>